:root {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", "Lucida Grande", Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #e9edef;
  background-color: #111b21;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #111b21;
}

button:focus,
button:focus-visible {
  outline: 2px solid #00a884;
}
